
@{
    ViewBag.Title = "AppForgotPassword";
    Layout = "~/Views/Shared/AppMaster.cshtml";
}


@*<h2>@ViewBag.Ip</h2>*@
<div class="d-flex justify-content-center row-cols-1 row-cols-sm-3">
    <div class="col p-1">
        <img src="~/Content/Img/presencelogo.png" class="img img-fluid mx-auto d-block" style="height:200px;width:200px" />
        <div class="card border-0 ps-0 pe-0 me-0 ms-0 mt-5 bg-light-subtle" style="margin: 0px; box-shadow: 0px -10px 10px -10px rgba(0, 0, 0, 0.1);">
            <div class="card-body">
                <form class="needs-validation" novalidate action="/Home/AppForgotPassword?token=@ViewBag.token" method="post">
                    <div class="mb-4 text-start">
                        <h4 id="mh1">Recover Password</h4>
                        <span id="mh1">Enter your Registered Email and instructions will be sent to you!</span>


                    </div>
                    <div class="mb-3 text-warning"><h6>@ViewBag.msg</h6></div>
                    <div class="mb-3">
                        <input type="hidden" id="htokenid" name="htokenid" value="@ViewBag.token" />
                        <input type="email" class="form-control shadow-none" name="mailid" id="mailid" required placeholder="Enter Email id">
                        <div class="invalid-feedback">
                            Please Enter your Email Id
                        </div>
                    </div>


                    <div class="d-grid mx-auto">
                        <button type="submit" class="btn btn-info loaderbtn">Send Mail</button>
                    </div>
                    <div class="mb-4 mt-4 text-warning text-center"><a href="/Home/Appindex?token=@ViewBag.token" class="text-decoration-none text-dark">back to Login</a></div>

                </form>
            </div>
        </div>

    </div>
</div>


