
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/Adminmaster.cshtml";
}


<script>
    $(document).ready(function () {
        $("#oldPassword").click(function () {
            var passwordField = $("#opass");
            var passwordFieldType = passwordField.attr("type");

            // Toggle the password field type
            if (passwordFieldType === "password") {
                passwordField.attr("type", "text");
                $(this).html('<i class="fa fa-eye-slash"></i>');
            } else {
                passwordField.attr("type", "password");
                $(this).html('<i class="fa fa-eye"></i>');
            }
        });
    });
</script>
<script>
    $(document).ready(function () {
        $("#newPassword").click(function () {
            var passwordField = $("#npass");
            var passwordFieldType = passwordField.attr("type");

            // Toggle the password field type
            if (passwordFieldType === "password") {
                passwordField.attr("type", "text");
                $(this).html('<i class="fa fa-eye-slash"></i>');
            } else {
                passwordField.attr("type", "password");
                $(this).html('<i class="fa fa-eye"></i>');
            }
        });
    });
</script>
<script>
    $(document).ready(function () {
        $("#cnewPassword").click(function () {
            var passwordField = $("#cnpass");
            var passwordFieldType = passwordField.attr("type");

            // Toggle the password field type
            if (passwordFieldType === "password") {
                passwordField.attr("type", "text");
                $(this).html('<i class="fa fa-eye-slash"></i>');
            } else {
                passwordField.attr("type", "password");
                $(this).html('<i class="fa fa-eye"></i>');
            }
        });
    });
</script>
<div class="row mt-1 mb-3 nevigationstrip">
    <div class="col">
        <label class="text-uppercase text-truncate trutext">Admin <i class="fa fa-angle-double-right"></i> Change Password</label>
    </div>
    <div class="col text-right d-flex justify-content-end">
        <label class="text-uppercase text-truncate trutext" style="cursor:pointer" onclick="navigateBack()"> <i class="fa fa-angle-double-left"></i> Back</label>
    </div>
</div>

<div class="row mt-2 mb-2 row-cols-1 row-cols-sm-3">
    <div class="col"></div>
    <div class="col">
        <div id="alert-container"></div>
    </div>
    <div class="col text-right d-flex justify-content-end">

    </div>
</div>
<script>
    $(document).ready(function () {

    var msg = '@ViewBag.msg';

        if (msg) {
            var alertElement = '<div class="alert btncolorblue alert-dismissible fade show p-2" role="alert" id="alert">' +
                msg +
                '<button type="button" class="btn-close mt-1 pe-2" data-bs-dismiss="alert" aria-label="Close"></button>' +
                '</div>';
            $(alertElement).insertBefore('#alert-container');
            setTimeout(function () {
                $('#alert').alert('close');
            }, 5000);
            //$('.alert').on('closed.bs.alert', function () {
            //    window.location.href = '/Admin/Department';
            //});
            //$('#btnclose').on('click', function () {
            //    window.location.href = '/Admin/Department';
            //});
        }
});
</script>


@using System.Data;
@{

    DbManager db = new DbManager();  
}

<div class="row row-cols-1 row-cols-sm-3 d-flex justify-content-center mt-5" id="changepass">
    <div class="col"></div>
    <div class="col">
        <div class="card card-body border-0" style="box-shadow: 1px 2px 4px 3px #DBE285">
            <form action="/Admin/ChangePassword" method="post" class="needs-validation" novalidate enctype="multipart/form-data">

                @*<h5 class="modal-title text-center mb-2" id="staticBackdropLabel"> Change Password </h5>*@

                <div class="row row-cols-1 row-cols-sm-1">

                    <h6 class="mt-2">Select User Name</h6>
                    <select class="form-select shadow-none" id="emp" name="emp" required>
                        <option selected value="Self">Self</option>
                        @{
                            string query1 = "select * from tbl_registration";
                            DataTable dt1 = db.GetAllRecord(query1);
                            if (dt1.Rows.Count > 0)
                            {
                                for (int i = 0; i < dt1.Rows.Count; i++)
                                {
                                                <option value="@dt1.Rows[i]["Employee_id"]">@dt1.Rows[i]["Name"] (@dt1.Rows[i]["Branchname"])</option>
                                }
                            }
                        }
                    </select>
                    @*<div class="col mb-2">
                        <label>Enter Old Password<span class="text-danger">*</span></label>
                        <div class="input-group mt-2">
                            <input type="password" class="form-control shadow-none" name="opass" id="opass" required placeholder="Enter Old Password">
                            <span class="input-group-addon">
                                <span class="btn btncolor border-1 rounded-0" type="button" id="oldPassword" style="width:50px">
                                    <i class="fa fa-eye"></i>
                                </span>
                            </span>
                            <div class="invalid-feedback">
                                Please Enter your Old Password
                            </div>

                        </div>
                    </div>*@

                    <div class="col mb-2">
                        <label>Enter New Password<span class="text-danger">*</span></label>
                        <div class="input-group mt-2">
                            <input type="password" class="form-control shadow-none" name="npass" id="npass" required placeholder="Enter New Password">
                            <span class="input-group-addon">
                                <span class="btn btncolor border-1 rounded-0" type="button" id="newPassword" style="width:50px">
                                    <i class="fa fa-eye"></i>
                                </span>
                            </span>
                            <div class="invalid-feedback">
                                Please Enter your New Password
                            </div>
                        </div>
                    </div>

                    <div class="col mb-2">
                        <label>Confirm New Password<span class="text-danger">*</span></label>
                        <div class="input-group mt-2">
                            <input type="password" class="form-control shadow-none" name="cnpass" id="cnpass" required placeholder="Confirm New Password">
                            <span class="input-group-addon">
                                <span class="btn btncolor border-1 rounded-0" type="button" id="cnewPassword" style="width:50px">
                                    <i class="fa fa-eye"></i>
                                </span>
                            </span>
                            <div class="invalid-feedback">
                                Please Confirm your New Password
                            </div>

                        </div>



                    </div>
                </div>
                <div class="row d-flex text-center mt-2">
                    <div class="col">
                        <button type="submit" class="btn btncolor" id="submit">submit</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
    <div class="col"></div>
</div>

