
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/GeneralMaster.cshtml";
}

<h2>@ViewBag.Ip</h2>
<div class="d-flex justify-content-center mt-5 row-cols-1 row-cols-sm-3">
    <div class="col p-5 bg-light">
        <img src="~/Content/Img/WinaxisLogo.png" class="img img-fluid mx-auto d-block" />
        <form class="needs-validation" novalidate action="/Home/ForgotPassword" method="post">
            <!--<div class="mb-4 text-center"><h2 id="mh1">Forgot Password</h2></div>-->
            <div class="mb-3">
                <input type="email" class="form-control shadow-none" name="mailid" id="mailid" required placeholder="Enter Email id">
                <div class="invalid-feedback">
                    Please Enter your Email Id
                </div>
            </div>
            <div class="mb-4 text-warning"><h6>@ViewBag.msg</h6></div>

            <div class="d-grid mx-auto">
                <button type="submit" class="btn btn-info loaderbtn">Send Mail</button>
            </div>
            <div class="mb-4 mt-4 text-warning text-center"><a href="/Home/Login" class="text-decoration-none text-dark">back to Login</a></div>

        </form>
    </div>
</div>
