﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="~/Content/img/16.png" type="">
    <script src="~/Content/css/mailvalid.js"></script>
    <title> Growfast </title>
    <link href="~/Content/Img/Growfast Logo.png" rel="icon" />

    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Content/css/bootstrap.bundle.min.js"></script>
    <link href="~/Content/css/mob.css" rel="stylesheet" />
    <link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" />

    <link href="~/Content/css/CustomCss.css" rel="stylesheet" />
    <link href="~/Content/css/hover-min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Content/css/mailvalid.js"></script>
</head>
<body>

    <div class="container-fluid">
        <div class="top-menu" style="background-color:lightgoldenrodyellow">
            <div class="container">
                <div class="row" style="height:75px;" id="cod">
                    <div class="col-md-3 col-3 logo " style="padding-top:5px">
                        <img src="~/Images/grow2.jpg" alt="" id="rl" style="height:60px;width:100px" />
                    </div>
                    <div class="col-md-6 col-6 logo justify-content-center d-flex" style="padding-top:5px">
                        <span style="margin-top:20px;color:forestgreen"><b>GROWFAST ORGANIC DIAMOND</b> </span>
                    </div>
                    <div class="col-md-3 col-3 logo justify-content-end d-flex">
                        <img src="~/Images/gros.jpg" alt="" style="height:60px;width:100px;margin-left:5px;margin-top:7px" id="ecimg" />
                    </div>
                </div>
            </div>
        </div>
      
    </div>
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-12">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 mt-5">
                            <div class="justify-content-center d-flex">
                                <img src="~/Images/Growfast Logo.png" alt="" style="height:200px;width:480px" id="itlogo" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 justify-content-center d-flex mt-5">
                            <a href="/Home/Inauguration2">
                                <img src="../Images/launch-removebg-preview.png" height="100" width="100" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>
</body>
</html>